.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    h2, p {
        margin: 0;
        padding: 0;
    }

    button {
        border: none;
        background-color: #ff0055;
        color: white;
        padding: 0.5rem 1.5rem;
        border-radius: 4px;
        font-size: 1rem;

        &:hover {
            background-color: #ff4382;
            cursor: pointer;
        }
    }

}