dialog {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 90%;
    max-width: 400px;
    text-align: center;
    border: 2px solid #ccc;
    background-color: white;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.75);
}